.filterForm {
  display: flex;
  width: 260px;
  flex-direction: column;
  font-family: "Work Sans", serif;
  gap: 1rem;
  padding: 1.8rem 1.2rem;
  background-color: #fff;
  border: 1.2px solid rgb(233, 234, 236);
  border-radius: 4px;
  box-shadow: 3px 5px 20px 0px #0000000a;
  max-height: none;
  overflow: visible;

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    label {
      font-size: 14px;
      font-weight: 600;
      color: #5f6985;
    }

    input,
    select {
      // width: 100%;
      padding: 0.6rem 0.7rem;
      border: 1px solid rgb(233, 234, 236);
      box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px,
        rgba(233, 231, 231, 0.24) 0px 1px 2px;
      border-radius: 8px;
      font-size: 14px;
      color: #888fa4;
      font-family: "Work Sans", serif;

      &:focus {
        outline: none;
        border-color: #7c9afe;
      }

      &::placeholder {
        color: #888fa4;
        font-family: "Work Sans", serif;
      }
    }
  }

  .buttonGroup {
    display: flex;
    gap: 13px;
    margin-top: 0.8rem;

    .resetButton {
      font-family: "Avenir Next Regular";
      font-weight: 600;
      padding: 0.60rem 1.5rem;
      font-size: 14px;
      color: #545f7d;
      border: 1.4px solid #545f7d;
      background-color: white;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    .filterButton {
      padding: 0.60rem 1.5rem;
      font-size: 14px;
      font-family: "Work Sans", serif;
      font-weight: 600;
      background-color: #39cdcc;
      border: none;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #25b7b7;
      }
    }
  }
}
